<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>а</string>
	<key>b</key>
	<string>б</string>
	<key>c</key>
	<string>к</string>
	<key>d</key>
	<string>д</string>
	<key>e</key>
	<string>е</string>
	<key>f</key>
	<string>ф</string>
	<key>g</key>
	<string>г</string>
	<key>h</key>
	<string>х</string>
	<key>i</key>
	<string>и</string>
	<key>j</key>
	<string>дж</string>
	<key>k</key>
	<string>к</string>
	<key>l</key>
	<string>л</string>
	<key>m</key>
	<string>м</string>
	<key>n</key>
	<string>н</string>
	<key>o</key>
	<string>о</string>
	<key>p</key>
	<string>п</string>
	<key>q</key>
	<string></string>
	<key>r</key>
	<string>р</string>
	<key>s</key>
	<string>с</string>
	<key>t</key>
	<string>т</string>
	<key>u</key>
	<string>у</string>
	<key>v</key>
	<string>в</string>
	<key>w</key>
	<string>в</string>
	<key>x</key>
	<string>кс</string>
	<key>y</key>
	<string>ы</string>
	<key>z</key>
	<string>з</string>
	<key>ai</key>
	<string>ай</string>
	<key>ay</key>
	<string>ай</string>
	<key>ch</key>
	<string>ч</string>
	<key>ee</key>
	<string>и</string>
	<key>ea</key>
	<string>и</string>
	<key>ey</key>
	<string>эй</string>
	<key>iy</key>
	<string>ий</string>
	<key>jo</key>
	<string>ж</string>
	<key>kh</key>
	<string>х</string>
	<key>oo</key>
	<string>у</string>
	<key>oy</key>
	<string>ой</string>
	<key>qu</key>
	<string>кв</string>
	<key>sh</key>
	<string>ш</string>
	<key>shch</key>
	<string>щ</string>
	<key>ts</key>
	<string>ц</string>
	<key>uy</key>
	<string>уй</string>
	<key>ya</key>
	<string>я</string>
	<key>yo</key>
	<string>ё</string>
	<key>yu</key>
	<string>ю</string>
	<key>yuy</key>
	<string>юй</string>
	<key>yy</key>
	<string>ый</string>
	<key>zh</key>
	<string>ж</string>
</dict>
</plist>
