<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>а</key>
	<string>a</string>
	<key>б</key>
	<string>b</string>
	<key>в</key>
	<array>
		<string>v</string>
		<string>w</string>
	</array>
	<key>г</key>
	<string>g</string>
	<key>д</key>
	<string>d</string>
	<key>е</key>
	<string>e</string>
	<key>ё</key>
	<string>yo</string>
	<key>ж</key>
	<string>zh</string>
	<key>з</key>
	<string>z</string>
	<key>и</key>
	<string>i</string>
	<key>й</key>
	<string>y</string>
	<key>к</key>
	<array>
		<string>k</string>
		<string>c</string>
	</array>
	<key>л</key>
	<string>l</string>
	<key>м</key>
	<string>m</string>
	<key>н</key>
	<string>n</string>
	<key>о</key>
	<string>o</string>
	<key>п</key>
	<string>p</string>
	<key>р</key>
	<string>r</string>
	<key>с</key>
	<string>s</string>
	<key>т</key>
	<string>t</string>
	<key>у</key>
	<string>u</string>
	<key>ф</key>
	<string>f</string>
	<key>х</key>
	<array>
		<string>kh</string>
		<string>h</string>
	</array>
	<key>ц</key>
	<string>ts</string>
	<key>ч</key>
	<string>ch</string>
	<key>ш</key>
	<string>sh</string>
	<key>щ</key>
	<string>shch</string>
	<key>ъ</key>
	<string></string>
	<key>ы</key>
	<string>y</string>
	<key>ь</key>
	<string></string>
	<key>ю</key>
	<string>yu</string>
	<key>я</key>
	<string>ya</string>
	<key>ай</key>
	<string>ay</string>
	<key>ей</key>
	<array>
		<string>ey</string>
		<string>yey</string>
		<string>yay</string>
	</array>
	<key>ий</key>
	<string>iy</string>
	<key>ой</key>
	<string>oy</string>
	<key>уй</key>
	<string>uy</string>
	<key>ый</key>
	<string>yy</string>
	<key>ья</key>
	<array>
		<string>ya</string>
		<string>ia</string>
	</array>
	<key>эй</key>
	<string>ey</string>
	<key>юй</key>
	<string>yuy</string>
</dict>
</plist>
